@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #deddddb3; /* Add this line to set the grey background color */
}

.profile-bubble {
  width: 200px !important;
  height: 200px !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


header {
  background-image: linear-gradient(to bottom right, #FFC107, #E91E63, #9C27B0, #2196F3);
  background-size: 200% 200%;
  animation: gradientAnimation 10s ease infinite;
  color: #fff;
  padding: 20px;
  text-align: center;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


main {
  padding: 20px;
  text-align: center;
  position: relative;
  height: 100vh;
}

/* Common styles for both sizes */
.bubble {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: xx-large;
}

/* Larger screens */
.bubble {
  width: 200px;
  height: 200px;
}

/* Smaller screens */
@media (max-width: 640px) { /* You can adjust the max-width value to your preference */
  .bubble {
    width: 140px;
    height: 140px;
    font-size: large; /* Adjust the font size for smaller screens */
  }
}
